mixin videoBlock(video = {})
    .videoBlock#js-videoPlayer
        a(href=routes.video_detail(video.id))
            img.videoBlock__thumbnail(src=video.thumbnailUrl)
            video(src=video.fileUrl)
            .video__loading#js-videoLoading
                span(hidden=true)#js-videoLoadingSpan 업로딩중..<br>기다려주세요
            h4.videoBlock__title= video.title
            h6.videoBlock__views= `${video.views} Views` 